<div class="container">
  <br />
  <h1 class="text-center"> {{ title }} </h1>
  <hr>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Variable Original </th>
        <th scope="col"> Pipe </th>
        <th scope="col"> Resultado </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase }}</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase }}</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice: 0 : 4 </td>
        <td> {{ nombre | slice:0:4 }}</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice : 4 </td>
        <td> {{ nombre | slice:4 }}</td>
      </tr>
      <tr>
        <td> {{ arreglo }} </td>
        <td> slice : 1 : 7 </td>
        <td> {{ arreglo | slice:1:7 }}</td>
      </tr>
      <tr>
        <td> {{ Pi }} </td>
        <td> number: '3.0-0' </td>
        <td> {{ Pi | number: '3.0-0' }}</td>
      </tr>
      <tr>
        <td> {{ Pi }} </td>
        <td> number: '1.0-2' </td>
        <td> {{ Pi | number: '1.0-2' }}</td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent </td>
        <td> {{ a | percent }}</td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent: 2.2-2 </td>
        <td> {{ a | percent: '2.2-2' }}</td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency </td>
        <td> {{ salario | currency }}</td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency: 'EUR' </td>
        <td> {{ salario | currency: 'EUR' }}</td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency: 'EUR': '4.0-0' </td>
        <td> {{ salario | currency: 'EUR': true: '4.0-0' }}</td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> number: '.2-2' </td>
        <td> {{ salario | number: '.2-2' }}</td>
      </tr>
      <tr>
        <td> {{ valorDePromesa }} </td>
        <td> async </td>
        <td> {{ valorDePromesa | async }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date </td>
        <td> {{ fecha }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date: 'medium' </td>
        <td> {{ fecha | date: 'medium' }}</td>
      </tr>
      <tr>
        <td> {{ fecha }} </td>
        <td> date: 'MMMM - dd' </td>
        <td> {{ fecha | date: 'MMMM-dd' }}</td>
      </tr>
      <tr>
        <td> {{ nombre2 }} </td>
        <td> capitalizado </td>
        <td> {{ nombre2 | capitalizado }}</td>
      </tr>
      <tr>
        <td> {{ nombre2 }} </td>
        <td> capitalizado </td>
        <td> {{ nombre2 | capitalizado:false }}</td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> contrasena: {{ activar }} <br /> <button 
          (click)="activar = !activar" 
          type="button" 
          class="btn btn-outline-primary">Activar/Desactivar</button></td>
        <td> {{ nombre | contrasena: activar }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <h3>Slice</h3>
  <hr>
  <ul>
    <li *ngFor="let num of arreglo | slice: 6:20"> {{num}} </li>
  </ul>
  <br />
  <hr>
  <h3>JSON</h3>
  <pre>
    {{ heroe | json }}
  </pre>
  <hr>
  <br />
  <h3>Youtube <small>Video</small></h3>
  <iframe width="560" height="315" [src]="video | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br><br><br><br><br><br>